body {
  background-color: rgb(48, 48, 54);
  font-family: 'Georama', sans-serif;
  font-size: 2em;
  /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
  padding-top: 90px;
}

#quiz {
  color: #fff;
  z-index: 20;
}

.container-score {
  border: 3px solid rgb(43, 38, 51);
  border-radius: 10px;
  background-color: #3a3b5c;
  color: #bcb6e2;
  /* pulls everything down to push up against bottom border */
  padding-bottom: 10%;
  /* allows ??? to control the horizontal position */
  padding-left: 10%;
  /* creates solid line for the bottom border  */
  /* border-bottom: solid;
  border-bottom-color: #ccc; */
  padding-right: 10%;
  width: 100%;
  margin: 1px;
  padding: 10px;
  color: #fff;
  z-index: 20;
}

.container {
  border: 3px solid rgb(43, 38, 51);
  border-radius: 10px;
  background-color: rgb(43, 38, 51);
  color: #bcb6e2;
  /* pulls everything down to push up against bottom border */
  padding-bottom: 10%;
  /* allows ??? to control the horizontal position */
  padding-left: 10%;
  /* creates solid line for the bottom border  */
  /* border-bottom: solid;
  border-bottom-color: #ccc; */
  padding-right: 10%;
  width: 100%;
  margin: 1px;
  padding: 10px;
  color: #fff;
  z-index: 20;
}

.container-item {
  border: 3px solid rgb(43, 38, 51);
  border-radius: 10px;
  background-color: #4d4f81;
  color: #bcb6e2;
  /* pulls everything down to push up against bottom border */
  padding-bottom: 10%;
  /* allows ??? to control the horizontal position */
  padding-left: 10%;
  /* creates solid line for the bottom border  */
  /* border-bottom: solid;
  border-bottom-color: #ccc; */
  padding-right: 10%;
  width: 100%;
  margin: 1px;
  padding: 10px;
  color: #fff;
  z-index: 20;
}

.choice-container {
  border: 3px solid rgb(43, 38, 51);
  border-radius: 10px;
  background-color: #73749b;
  color: #bcb6e2;
  /* pulls everything down to push up against bottom border */
  padding-bottom: 10%;
  /* allows ??? to control the horizontal position */
  padding-left: 10%;
  /* creates solid line for the bottom border  */
  /* border-bottom: solid;
  border-bottom-color: #ccc; */
  padding-right: 10%;
  width: 100%;
  margin: 1px;
  padding: 10px;
  color: #fff;
  z-index: 20;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: rgb(35, 32, 41);
  transform: scale(1.02);
  transform: 100ms;
}

@media pmly screen and (max-width: 765px) {
  .container {
    ;
    ex-direction: column
  }
  .tall {
    height: 500px!important;
    max-height: 500px!important;
  }
  .box-callout figure:hover figcaption {
    max-height: 500px;
  }
  .box-callout figcaption {
    top: 0;
  }
}